@page
@model DiscGolfWeb.Pages.Account.LoginModel
@{
}

    <body>
    <h1>Sign Up</h1>


    <h1> Alien Disc Golf</h1>

    <div class="image-container">
        <img src="https://cdn.shopify.com/s/files/1/0538/2455/3132/products/ufodisckmockup-modified_2048x2048.png?v=1651357323" alt="Disc Golf Logo" width="200" height="200">
        
    </div>
    </body>
       

<form method="post">
    <div class="row m-2 text-danger" asp-validation-summary="All"></div> 
<div class="row m-2">
    <div class="col-2">
        <label class="form-label" asp-for="LoginUser.Email"></label>
    </div>
    <div class="col-10">
        <input type="email" class="form-control" asp-for="LoginUser.Email" />
        <span class="text-danger" asp-validation-for="LoginUser.Email"></span>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        <label class="form-label" asp-for="LoginUser.Password"></label>
    </div>
    <div class="col-10">
        <input type="password" class="form-control" asp-for="LoginUser.Password" />
        <span class="text-danger" asp-validation-for="LoginUser.Password"></span>
    </div>
</div>
<div class="row m-2" id="btnLogin">
        <div class="col-3">
            <button id="btnLogin" class="btn btn-primary">Sign In</button>
        </div>
</div>

</form>