@page
@model DiscGolfWeb.Pages.Account.LoginModel
@{
    //Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
    string layout;
    if (HttpContext.User.Identity.IsAuthenticated)
    {
        if (HttpContext.User.HasClaim("isAdmin", "True"))
        {
            layout = "_AdminLayout"; // Use the admin layout for users with admin privilege
        }
        else
        {
            layout = "_LayoutAuthenticated"; // Use the regular authenticated layout
        }
    }
    else
    {
        layout = "_Layout"; // Use the default layout for unauthenticated users
    }
    Layout = layout;
}

<form method="post">
    <div class="row m-2 text-danger" asp-validation-summary="All"></div> 
        <div class="row m-2">
            <div class="col-3">
                <label class="form-label" asp-for="LoginUser.Email"></label>
            </div>
            <div class="col-10">
                <input type="email" class="form-control" asp-for="LoginUser.Email" />
                <span class="text-danger" asp-validation-for="LoginUser.Email"></span>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-3">
                <label class="form-label" asp-for="LoginUser.Password"></label>
            </div>
            <div class="col-10">
                <input type="password" class="form-control" asp-for="LoginUser.Password" />
                <span class="text-danger" asp-validation-for="LoginUser.Password"></span>
            </div>
        </div>
        <div class="row m-2" id="btnLogin">
            <div class="col-3">
            <button id="btnLogin" class="btn btn-primary">Sign In <i class="bi bi-box-arrow-in-right"></i></button>
            </div>
        </div>
</form>

<style>
    body {
        background-image: url('https://i.pinimg.com/736x/91/b7/f5/91b7f5e0c42251f849fe21b0332877a8.jpg'); /* Specify 	the URL of your image */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        height: 100vh;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.2);
    }

    form {
        background-color: rgba(194,219,189,255);
        border: 5px solid rgba(97,130,109,255);
        border-radius: 10px;
        color: rgba(29,50,53,255);
        white-space: nowrap;
        max-width: 350px;
        margin: 0 auto;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    #btnLogin {
        background-color: rgba(97,130,109,255);
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    h1 {
        text-align: center;
    }

    .image-container {
        text-align: center; /* Center align its contents horizontally */
    }
</style>

<!--
 <body>
 <div class="image-container">
     <img src="https://cdn.shopify.com/s/files/1/0538/2455/3132/products/ufodisckmockup-modified_2048x2048.png?v=1651357323" alt="Disc Golf Logo" width="200" height="200">

 </div>
 </body>
-->
