@page
@model PrivacyModel
@{
    // Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
    string layout;
    if (HttpContext.User.Identity.IsAuthenticated)
    {
        if (HttpContext.User.HasClaim("isAdmin", "True"))
        {
            layout = "_AdminLayout"; // Use the admin layout for users with admin privilege
        }
        else
        {
            layout = "_LayoutAuthenticated"; // Use the regular authenticated layout
        }
    }
    else
    {
        layout = "_Layout"; // Use the default layout for unauthenticated users
    }
    Layout = layout;
}

<form>
    <h1>Privacy</h1>
    <p>We value your privacy. This policy outlines how we collect, use, and protect your personal
        information when you use our website.</p>

    <h2>Information Collection</h2>
    <p>We may collect personal information such as your name, email address, and phone number
        when you use our website.</p>

    <h2>How We Use Your Information</h2>
    <p>We use the information you provide to improve our website and provide better services to you. 
        We do not share your information with third parties without your consent unless required by law.</p>

    <h2>Cookies</h2>
    <p>We may use cookies to enhance your experience on our website. You can choose to disable
        cookies in your browser settings, but this may affect your ability to use certain features of our website.</p>

    <h2>Security</h2>
    <p>We take reasonable measures to protect your personal information, but no method of transmission
        over the internet is completely secure.</p>

    <h2>Changes to This Policy</h2>
    <p>We may update this privacy policy from time to time. Any changes will be effective immediately
        upon posting the updated policy on our website.</p>
</form>



<style>
    body {
        background-image: url('https://i.pinimg.com/736x/91/b7/f5/91b7f5e0c42251f849fe21b0332877a8.jpg'); /* Specify 	the URL of your image */

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        height: 100vh;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.2);
    }


    form {
        background-color: rgba(194,219,189,255);
        border: 5px solid rgba(97,130,109,255);
        border-radius: 10px;
        color: rgba(29,50,53,255);
        align-items: center;
        white-space:normal;
        padding: 5px;
        max-width: 750px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }

    .image-container {
        text-align: center; /* Center align its contents horizontally */
    }
</style>